@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
:root{
  background-color: white;
}

p{
  margin: 0;
  /* font-weight: 500 !important; */
}

.taskList p{
  font-weight: 500 !important;
}

input:focus{
  box-shadow: 0px 0px 2px 1px #99bee4 !important;  
}

#totalTaskCard:hover{
  background-color: #05305c !important;
  box-shadow: 0px 0px 4px 1px #49739c !important;  
  cursor: pointer
}

#completedTaskCard:hover{
  background-color: rgb(4, 102, 4) !important;
  box-shadow: 0px 0px 4px 1px rgb(43, 116, 43) !important;
  cursor: pointer
}

#pendingTaskCard:hover{
  background-color: #e08a00 !important;
  box-shadow: 0px 0px 4px 1px #925b01 !important;
  cursor: pointer
}

.todoButton:hover{
  box-shadow: 0px 0px 2px 1px #4185c9;
}
body{
  display: grid;
  justify-content: center;
}

button{
  cursor: pointer;
}